* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* phone functinality styles and navs  */

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 20%;
}

.logo img {
    width: 150px;
}

.navLinks {
    flex: 1;
    text-align: right;
}

.navLinks ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navLinks ul li a {
    color: #fff;
    text-decoration: none;
}

.info {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.feature img {
    width: 90px;
}

.feature {
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div {
    margin-left: 30px;
}

.feature div p {
    margin-top: 10px;
}



.camera {
    top: 450px;
    right: 10px;
}

.processor {
    top: 100px;
    left: 300px;
    transform: rotate(-90deg);
}

.display {
    bottom: 450px;
    left: -40px;
    transform: rotate(-180deg);
}

.battery {
    bottom: 170px;
    right: 350px;
    transform: rotate(-270deg);
}

#phone {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%) scale(1.7);
    z-index: 1;
}

.wrapper {
    position: absolute;
    right: 10%;;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.wrapper h3 {
    margin: 15px 0;
    color: #fff;
    font-size: 24px;
}

#up {
    width: 15px;
    transform: scale(2);
    cursor: pointer;
    margin-bottom: 10px;
}

#down {
    margin-top: 20px;
    transform: rotate(180deg) scale(2);
    width: 15px;
    cursor: pointer;
}

#up:hover {
    transform: scale(2.1);
}

#down:hover {
    transform:rotate(180deg) scale(2.1);
}

.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#title {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-left: 170px;
}

svg {
    font-family: 'Russo One', sans-serif;
    position: absolute; 
    width: 100%; height: 100%;
    
  }
  svg text {
    text-transform: uppercase;
    animation: stroke 8s infinite ease;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 50px;
  }
  @keyframes stroke {
    0%   {
      fill: rgba(19, 20, 18, 0); stroke: rgb(11, 15, 22);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgb(12, 8, 14); }
    80%  {fill: rgba(72,138,20,0); stroke: rgb(14, 14, 15); stroke-width: 3; }
    100% {
      fill: rgb(9, 3, 21); stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
  }